.btnDelete {
    width: 24px;
    height: 24px;
    position: absolute;
    right: -40px;
    top:0;
    display: none;
    padding: 8px;
    border-radius: 5px;
    transition: background 0.5s ease; 
    user-select: none;
}

.btnDelete img {
    pointer-events: none;
}

.btnDelete:hover {
    background-color: rgb(211, 150, 150);
    transition: background 0.5s ease; 
}