p {
    margin: 0;
}

li {
    display: inline-block;
    width: 40%;
    padding-left: 20px;
}

li:before{
    content:'\ffed'; 
    margin-right:0.5em;
}

h3 {
    margin-top: 30px;
    margin-bottom: 0;
}

h4 {
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: solid 2px #cacdcf;
}

#cv {
    border: solid 2px black;
    width: 700px;
    margin: 0 auto;
    font-family: 'Mons', serif;
}

#topInfo {
    color: #D4D3DD;
    padding: 35px 60px 35px 60px;
    background-color: #333D50;
    text-align: left;
}

#bottomInfo {
    background-color: white;
    padding: 35px 60px 35px 60px;
    text-align: left;
}

#eduH4 + .educationBlock {
    margin-top: 0;
}

#expH4 + .experienceBlock {
    margin-top: 0;
}

#summaryBlock h4 {
    margin-top: 0;
}

.educationBlock, .experienceBlock {
    margin-top: 20px;
    padding-left: 10px;
}

.block {
    position: relative;
}

.block:hover .btnEdit{
    display: block;
}
.block:hover .btnDelete {
    display: block;
}






