#tabsContainer {
    display: flex;
    background-color: #4E4E6A;
}

.tabStyle {
    padding: 5px 10px;
    border-top-right-radius: 10px;
    user-select: none;
}

#tabGeneral, #tabSummary, #tabEdu, #tabExp, #tabCvPreview {
    border: solid 2px #282836;
    border-left: solid 10px #282836; 
    background-color: #a0a1bd;
    transition: border 0.5s ease, background 0.5s ease;
}

#tabGeneral:hover, #tabSummary:hover, #tabEdu:hover, #tabExp:hover, #tabCvPreview:hover  {
    border: solid 2px #98939b;
    border-left: solid 10px #98939b; 
    background-color: #cec7c9;
    transition: border 0.5s ease, background 0.5s ease;
}
