@font-face {
  font-family: 'Mons';
  src: local('Mons'), url(./fonts/Montserrat-Regular.ttf) format('truetype');
}

.App {
  text-align: center;
}

.App-header {
  height: 100px;
  background-color: #4E4E6A;
  color: #F2F2F2;
}

.App-header h3 {
  margin: 0;
}





